/* Assuming you are adding this to your CSS file */
.fade-enter {
  transform: translateX(100%);
  opacity: 0;
}
.fade-enter-active {
  transform: translateX(0) ;
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}
.fade-exit {
  transform: translateX(0);
  opacity: 1;
}
.fade-exit-active {
  transform: translateX(-100%) , translateY(-100%);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}
#backgroundSynapse {
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-attachment: fixed; /* Optional: makes the background fixed */
}